DATABASE_URL=postgresql://cardioscan_app:password@host/cardioscan?sslmode=require
AWS_ACCESS_KEY_ID=your-tigris-access-key
AWS_SECRET_ACCESS_KEY=your-tigris-secret-key
AWS_ENDPOINT_URL_S3=https://fly.storage.tigris.dev
BUCKET_NAME=cardioscan-ecg-data
CLERK_SECRET_KEY=sk_test_...
CLERK_FRONTEND_API_URL=https://romantic-herring-93.clerk.accounts.dev
CLERK_PUBLISHABLE_KEY=pk_test_...
